a {
  text-decoration: none;
}

html {
  background-color: var(--primary-color);
  color: white;
}

.dark {
	--background-color: var(--primary-color);
	--font-color: white;
}

.light {
	--background-color: var(--quaternary-color);
	--font-color: black;
}